<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Nymchat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nymchat</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Nymchat needs notification permissions to alert you of important updates and messages from the platform.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Nymchat needs location access to provide location-based features and services.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Nymchat needs location access to provide location-based features and services.</string>
	<key>NSCameraUsageDescription</key>
	<string>Nymchat needs camera access to take photos for uploading and sharing.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Nymchat needs photo library access to select images for uploading and sharing.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Nymchat needs microphone access for audio features.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Nymchat uses Bluetooth to connect with nearby users when there is no internet.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Nymchat uses Bluetooth to be discoverable by nearby users.</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lightning</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
</dict>
</plist>
